
.content {
    margin-left: -15px;
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-gap: .5rem;
    align-items: flex-start;
    color: white;
}



.banner {
    margin-top: 30px;
    background-color: #4b4b4b;
    border-radius: 3rem;
    padding: 0 2rem 2rem 2rem;
}

    .banner-header {
        margin: 20px;
        text-align: center;
    }



.proyects-list {
    display: grid;
    grid-template-rows: auto;
    grid-gap: 1rem;
    margin: .5rem 0;
    list-style-type: none;
    padding: 1rem 0;
}

    .proyects-list > li {
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.60);
        border-radius: .5rem;
        padding: .5rem;
        position: relative;
        bottom: 10px;
    }



.activities-list {
    padding: 2rem;
}

    .activities-list h2 {
        text-align: center;
        text-transform: uppercase;
    }

    .activities-list > ul {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
        grid-gap: 2rem;
        list-style-type: none;
        margin-left: -40px;
    }

        .activities-list > ul > li {
            background-color: #808080;
            border: 1px solid #000000;
            border-radius: 1rem;
            padding: 10px;
            position: relative;
        }

        .activities-list > ul > li > h4 {
            margin-right: 80px;
            display: inline;
            max-width: 40rem;            
        }

            

#done-activities > li {
    opacity: 0.5;
}

