
.content {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-gap: .5rem;
    align-items: start;
}

.subtasks {
    padding: 2rem;
}

    .subtasks > ul {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
        grid-gap: 2rem;
        list-style-type: none;
        margin-left: -40px;
    }
        
        .subtasks > ul > li {
            border: 1px solid #E2E2E2;
            border-radius: 1rem;
            padding-left: 10px;
            padding-bottom: 10px;
        }

            .subtasks > ul > li > h3 {
                font-family: 'Playfair Display', serif;
                margin-top: 10px;
            }


.activities {
    display: grid;
    grid-template-rows: 50px auto;
    grid-gap: .5rem;
    margin: .5rem 0;
    list-style-type: none;
    padding: .5rem;
}

    .activities > li {
        background-color: white;
        border-radius: .25rem;
        box-shadow: 0 1px 0 rgba(9,45,66,.25);
        padding: .5rem;
    }

.banner {
    background-color: orangered;
}

