body {
    padding-top: 50px;
    padding-bottom: 20px;
    padding-left: 15px;
    min-height: 600px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.container {
    min-width: 1200px;
    width: auto !important;
    padding-right: 0px !important;
    background-color: #272525;
}

.navbar-collapse {
    padding-right: 30px !important;
}

.navbar-header {
    padding-left: 15px;
}